/** 
  * Home Page
  *
  */ 

.vendor-listing {
	@include double-bordered(true, false, false, false);
	background:$cream;
	margin-right:-15px;
	padding-right:15px;
	.lead {
		position:relative;
		padding:20px 0 40px 80px;
		margin:0 ;
		@include rule(left);
		color:$navy;
		
	}
	.icon-tap {
		@include font-size(60);
		position:absolute;
		left:15px;
		top:5px;
		color:$navy;
	}
	ul {
		margin:0;
		padding:0;
		list-style:none;
		li {

			a.block-level {
			  display:block;
			  overflow:hidden;
			  height:55px;
			}
			@include double-bordered(true, false);
			.icon-wrap {
				@include rule(right);			
			}
			.icon {
				@include font-size(20);
				color:$navy;
				padding:10px 0px;
				margin:auto;
				display:block;
			}
			&.bar .icon { @extend .icon-bar;}
			&.brew-pub .icon { @extend .icon-brewpub;}
			&.restaurant .icon { @extend .icon-restaurant;}
			&.bar-restaurant .icon { @extend .icon-bar-restaurant;}
			.rule-right {
				position:static;
				&:after {
					right:-15px;
				}
			}
			.map-wrap {
				height:52px;
				opacity:0;
				@include transition(0.3s opacity ease);
				background:url(../images/stripe.png);
				position:relative;
				left:-2px;
				h4 {
					padding:20px 0;
				}
			}
			&:hover .map-wrap {
				opacity:1;
			}
		}
	}
}	

/** 
  * About Page
  *
  */ 

.slides-players {
	margin:0;
	list-style:none;
}

.flexslider-players {
	.corner-one {
  		top: -20px;
		left: -6px;
		z-index:1;
  	}
  	.corner-two {
  		top: -31px; 
		right: -31px;
		z-index:1;
  	}
  	.corner-three {
  		bottom:13px;
  		right:-31px;
		z-index:1;
  	}
  	.corner-four {
  		left: -5px;
		bottom: 23px;
		z-index:1;
  	}
}

.flip-container {
  	@include perspective(1000);
  	background:$navy;
  	width:100%;
  	overflow:hidden;
  	width: 100%;
	height: 450px;
  	.flip {
  		position:absolute;
  		z-index:1000;
		@include font-size(16);
		color: $white;
		position: absolute;
		padding: 0px 10px 30px;
		cursor:pointer;
		right: 0px;
		display:block;
		&:hover, &:hover i {
	 		color:$red;
		}
		i {
			display:block;
		}
		@include transition(all 0.3s ease);
		&#to-front {
	 		opacity:0; 
	 		left:0;
	 		@include backface-visibility(visible);
	 	}
	 	&#to-back {
	 		opacity:1;
	 	}
	 	
  	}
  	&.hover {
  		.flipper {
  	 		@include transform(rotateY(180deg));
  	 	}
  	 	.flip#to-front {
	 		opacity:1;
  	 	}
  	 	.flip#to-back {
	 		opacity:0;
  	 	}
  	}
  	.name {
		left: -1px;
		bottom:1px;
		border:none;
		position: absolute;
		border-top:none;
	} 	
	.front, .back {
		@include backface-visibility(hidden);
		position: absolute;
		top: 0;
		left: 0;
		text-align:center;
		width: 100%;
		height: 450px;
		.back-logo, .big-icon {
			@include font-size(130);
			margin:auto;
			color:$white;
			display:block;
			height:120px;
			margin-top:20px;
			width:200px;
			line-height:0;
			position:relative;
		}
		p {
			color:$white;
			padding:15px 30px;
		}
	}

	.front {
		z-index: 2;
		.playholder-players {
			@extend .icon-placeholder;
		}
	}

	.back {
		@include transform(rotateY(180deg));
		background: $navy;
		
		
		h2 {
			color:$white;
		}
	}
 
}
 
.flipper {
	@include transition(0.6s);
	@include  transform-style(preserve-3d);
	position: relative;
}



/** 
  * Beers Page
  *
  */ 

.sidebar-beer .corner-two {
	top: -31px; 
	right: -31px;
	z-index:1;
	border-color:$white;
}



/** 
  * Contact Page
  *
  */ 


.list-contact {
	list-style:none;
	margin:0;
	h5 {
		padding-bottom:8px;
		margin-top:10px;
		@extend .border-bottom;
	}
	li:last-child .border-bottom-white {
		border-color:$navy !important;
	}
}

/** 
  * Highlights Page
  *
  */ 

.tags-wrap {
	@include double-bordered(false, false, false, false,  $white);
	padding-top:3px;
	color:$white;
	a {
		color:$white;
	}
	.tag-cloud {
		@include double-bordered(false, false, false, false,  $white);
	}
}

.categories-wrap {
	@include double-bordered();
}

.list-categories {
	margin:-3px 0 0 0 !important;
	@extend .bg-navy;
	padding-bottom: 2px;
	@include double-bordered(false, false, false, false,  $white);
	&:before {
		top:3px;
	}
	li {
		padding-top:8px !important;
		padding-bottom:8px !important;
		@extend .border-bottom-white;
		@include rule(right, false, $white);
		text-align:center;
		overflow:hidden;
		&.active a:after {
			content: ' ';
			position:absolute;
			width:305px;
			border-bottom:1px solid white;
			@include transform(rotate(-12deg));
			left:-4px;
			top:2px;
			z-index:0;

		}
	}
	li:nth-child(2), li:nth-child(1) {
		margin-top:3px;
	}
}



