.footer {
  .gform_wrapper {
    @include innerRow(collapse);
    form {
      @include clearfix();
    }
  }

  .gform_body {
    @extend .space-top;
    @extend .border-bottom-white;
    @include column(9);
    @include rule(right, false, $white);
    padding:0;
    .gform_fields {
      list-style:none;
      margin:0;
      li {
        @include innerRow(collapse);
        .ginput_complex {
          @include clearfix();
          span {
            @include column(6);
            padding:0;
          }
        }
      }
    }
    label {
      display:none;
    }
    input {
      background-color: transparent; 
      margin: 0px;
      border:none;
      border-top:1px solid $white;
      border-left:1px solid $white;
      @include border-radius(0);
      @include box-shadow(0 0 0);
      color:$white;
      &:active, &:focus {
        background-color: $white;
        color:$navy;
        border-color:$white;
      }
    }


  }
  .gform_footer {
    @extend .space-top;
    padding:0;
    @include column(3);
    .button {
      height:85px;
      border:1px solid $white;
      border-left:none;
      width:100%;
      font-weight:normal;
      &:hover {
        background:$white;
        color:$navy;
      }
    }
    img {
      position:absolute;
      bottom:-25px;
      left:10px;
    }
  }
}

.validation_message {
  background:$white;
  color:$navy;
  padding:0 9px;
  @include font-size(11);
  @extend .border-top;
}

.validation_error {
  @extend .space-top;
  font-weight:bold;
  line-height:1.4;
}

.post-text {
  .gform_heading {
    @include double-bordered();
    text-align:center;

    h3.gform_title {
      @extend h1;
    }
    span.gform_description {
      @extend p;
      padding:0 60px;
      display:block;
    }
  }
}

.gforms_confirmation_message {
  padding:20px;
}


