.footer {
  .gform_wrapper {
    @include innerRow(collapse);
    form {
      @include clearfix();
    }
  }

  .gform_body {
    @extend .space-top;
    @extend .border-bottom-white;
    @include column(9);
    @include rule(right, false, $white, false, true);
    padding:0;
    .gform_fields {
      list-style:none;
      margin:0;
      li {
        @include innerRow(collapse);
        .ginput_complex {
          @include clearfix();
          span {
            @include column(6);
            padding:0;
          }
        }
      }
    }
    label {
      display:none;
    }
    input {
      background-color: transparent; 
      margin: 0px;
      border:none;
      border-top:1px solid $white;
      border-left:1px solid $white;
      @include border-radius(0);
      @include box-shadow(0 0 0);
      color:$white;
      &:active, &:focus {
        background-color: $white;
        color:$navy;
        border-color:$white;
      }
    }


  }
  .gform_footer {
    @extend .space-top;
    padding:0;
    @include column(3);
    .button {
      height:85px;
      border:1px solid $white;
      border-left:none;
      width:100%;
      font-weight:normal;
      &:hover {
        background:$white;
        color:$navy;
      }
    }
    img {
      position:absolute;
      bottom:-25px;
      left:10px;
    }
  }
}

.validation_message {
  background:$white;
  color:$navy;
  padding:0 9px;
  @include font-size(11);
  @extend .border-top;
}

.validation_error {
  @extend .space-top;
  font-weight:bold;
  line-height:1.4;
}
.post-text {
  .validation_error {
    color:$red;
    text-align:center;
    @include font-size(13);
  }
  .validation_message {
    position: absolute;
    z-index: 1;
    background: $white;
    right: 15px;
    margin-top:-1px;
    color: $red;
    font-weight:bold;
    border:1px solid $red;
    border-top:1px solid $white !important;
    padding:2px 25px;
    @include font-size(13);
    &:before {
      position:absolute;
      left:10px;
      top:5px;
      @include cssTriangle(4px, $red, bottom);
    }
  }
  .gform_body .gform_fields .gfield_error {
    input {
      border-bottom-color:$red !important;
      background:$white;
    }
    
  }
  
}

.post-text {
  .gform_heading {
    @include double-bordered();
    text-align:center;

    h3.gform_title {
      @extend h1;
    }
    span.gform_description {
      @extend p;
      padding:0 60px;
      display:block;
    }
  }
  form {
      margin:0;
      padding:0 0 0px;
      background:$cream;
    }
  .gform_body {
    padding:0;

    .gform_fields {
      list-style:none;
      margin:50px 0 0 0;
      padding:0;
      label {
      display:none;
      }
      input, textarea {
        background-color: transparent; 
        margin: 0px;
        border:none;
        @include border-radius(0);
        @include box-shadow(0 0 0);
        @extend .border-bottom;
        color:$navy;
        @include font-size(16);
        padding:25px;
        &:active, &:focus {
          background-color: $white;
          color:$navy;
          border-color:$white;
        }
      }

      li {
        @include innerRow(collapse);
        .ginput_complex {
          @include clearfix();

          span {
            @include double-bordered();
            @include column(7);
            @include mobileColumn(2);
            padding:0 !important;
            &:first-child {
              @include column(5);
              @include mobileColumn(2);
              padding:0 !important;
              input {
                @extend .border-right;
              }
            }
            label {
              display:none;
            }
          }
        }
        &.label-icon {
          position:relative;
          label {
            display:block !important;
            position: absolute;
            left: 0px;
            height:100%;
            top: 0px;
            width: 50px;
            @extend .icon-mail;
            visibility:hidden;
            &:before {
              visibility:visible;
              position:absolute;
              text-align:center;
              width:70px;
              top:-1px;
              left:-1px;
              bottom:0;
              height:auto;
              background: $cream;
              display:block;
              border:1px solid $navy;
              text-align:center;
              color:$navy;
              @include font-size(16);
              line-height:3;
            }
          }
          input {
            padding-left:80px;
          }
          &#field_2_4 label  {
            @extend .icon-phone;
            &:before {
              @include font-size(16);
              line-height:3;
            }
          }
        }
        &#field_2_1 {
          label:first-child{
            @extend h3;
            display:block !important;
            text-align:center;
            @include double-bordered();
          }
        }
        &#field_2_3 {
          label {
            @extend h3;
            display:block !important;
            text-align:center;
            margin-top:2px;
            @extend .border-top;
          }
          .ginput_container {
            @include double-bordered();
          }
        }
        .gfield_checkbox {
          list-style:none;
          margin:2px 0 0 0;
          padding:0;
          @extend .border-top;

          input {
            float:left;
            height:50px;
            width:50px;

          }
          label {
            display:block !important;
            padding:10px 0 0 60px ;
            @include font-size(16);
            @media only screen and (max-width: $screenSmall - 1) {
              @include font-size(13);
              padding:15px 0 0 60px ;
            }
          }
        }
      }
    }
  } 
  .button {
    padding:25px 0;
    left:-1px;
    border-left:none;
    border-right:none;
  } 
  form.custom ul li span.custom {
    display: inline-block;
    width: 46px;
    left: -1px;
    height: 46px;
    position: relative;
    top: -1px;
    color:$navy;
    border: solid 1px;
    background: none;
    float:left;
    @extend .icon-cross;
    cursor:pointer;
    margin-bottom:-2px;
    &.checkbox.checked:before {
      @include font-size(45);
      color:$navy;
      content: "\e010";
      top: 2px;
    }
  }
  .gform_confirmation_message_2 {
    @extend .double-bordered;
    position: relative;
    padding: 70px;
    text-align: center;
    font-size: 14px;
  }
}

.gforms_confirmation_message {
  padding:20px;
}


