.beer-stats {
	@extend .border-bottom;
	.columns {
		min-height:160px !important;
		&.alc {
			@include column(3);
			@include mobileColumn(4);
			@include rule(right);
			@extend .text-center;

		}
		&.IBU {
			@include column(1);
			@include rule(right);
			@include mobileColumn(4);
			@extend .text-center;

		}
		&.SRM {
			@include column(3);
			@include rule(right);
			@extend .text-center;
		}
		&.food_pairings {
			@include column(5);
		}
	}
	@media only screen and (max-width: $screenSmall) {
		padding:25px 0 20px 0;
		.columns { 
			width:auto !important;
			float:none !important;
			padding: 0 0 5px 0  !important;
			text-align:center;
			min-height:1px !important;
			.border-bottom {
				border:none !important;
			}
			h5, h6 {
				display:inline;
			}
		}	
	}
}