.row {
  @include flexbox();
  @include flex(0, 1, auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin: auto;
  max-width: $d-grid-max-width;

  &.row--hard,
  .col .row {
    margin-left: -$d-base;
    margin-right: -$d-base;
  }
}

.row--vertical {
  @include flex-direction(column);
}

.row--container {
  position: relative;
}

.row--full {
  max-width: none;
}

.row--justify-center {
  @include justify-content(center);
}

.row--justify-end {
  @include justify-content(flex-end);
}

.row--align-center {
  @include align-items(center);
}

.row--align-bottom {
  @include align-items(flex-end);
}

.row--reverse {
  @include flex-direction(row-reverse);
}

.col {
  @include flex-grow(0);
  @include flex-shrink(0);
  @include flex-basis(auto);
  max-width: 100%;
  padding: 0 $d-base;
}

.col--reverse {
  @include flex-direction(column-reverse);
}

.col--hard {
  padding: 0;
}

.col--reverse {
  @include flex-direction(column-reverse);
}

.col--auto {
  @include flex-grow(1);
  @include flex-basis(0);
  max-width: 100%;
}


@for $i from 1 through $d-grid-columns {
  .col--#{$i} {
    @include flex-basis(100% / $d-grid-columns * $i);
    max-width: 100% / $d-grid-columns * $i;
  }
}

@for $i from 0 through $d-grid-columns {
  .col-offset--#{$i} {
    @if $i == 0 {
      margin-left: 0;
    } @else {
      margin-left: 100% / $d-grid-columns * $i;
    }
  }
}

.col--justify-start {
  @include justify-content(flex-start);
}

.col--justify-center {
  @include justify-content(center);
}

.col--justify-end {
  @include justify-content(flex-end);
}

.col--align-top {
  @include align-items(flex-start);
}

.col--align-center {
  @include align-items(center);
}

.col--align-bottom {
  @include align-items(flex-end);
}

.col--first {
  order: -1;
}

.col--last {
  order: 1;
}

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $declaration: nth($breakpoint, 2);
  @media only screen and #{$declaration} {
    .col--#{$name} {
      box-sizing: border-box;
      @include flex-basis(auto);
    }

    @for $i from 1 through $d-grid-columns {
      .col--#{$name}--#{$i} {
        @include flex-basis(100% / $d-grid-columns * $i);
        max-width: 100% / $d-grid-columns * $i;
      }
    }

    @for $i from 0 through $d-grid-columns {
      .col--#{$name}--offset--#{$i} {
        @if $i == 0 {
          margin-left: 0;
        } @else {
          margin-left: 100% / $d-grid-columns * $i;
        }
      }
    }

    .col--start--#{$name} {
      @include justify-content(flex-start);
      text-align: left;
    }

    .col--justify-center--#{$name} {
      @include justify-content(center);
      text-align: center;
    }

    .col--justify-end--#{$name} {
      @include justify-content(flex-end);
      text-align: right;
    }

    .col--align-top--#{$name} {
      @include align-items(flex-start);
    }

    .col--align-center--#{$name} {
      @include align-items(center);
    }

    .col--align-bottom--#{$name} {
      @include align-items(flex-end);
    }

    .col--first--#{$name} {
      order: -1;
    }

    .col--last--#{$name} {
      order: 1;
    }
  }
}
