.announcement {
  background: $ca-announcenment-background;
  color: $ca-announcenment-color;
  display: flex;
  justify-content: center;
  align-content: center;
  display: block;
  text-align: center;
  padding: $d-base/2 + 2px;
  &:focus,
  &:hover {
    color: $ca-announcenment-color;
  }
}

.announcement__text {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 6px $d-base 4px;
  display: block;
  font-size: 13px;
}

.announcement__button {
  color: $c-navy;
  background: $c-white;
  margin: 0 $d-base;
  bottom: 1px;

  .announcement:hover & {
    background: $c-navy;
    color: $c-white;
  }
}
