//Components

.atb__col--0 {
  width: 55%;
  overflow: hidden;
  position: relative;
}
.atb__col--1.atb__col--1.atb__col--1.atb__col--1 {
  display: none;
}
.atb__col--2,
.atb__col--3,
.atb__col--4 {
  width: 15%;
}

.atthebrewery__row {
  display: block;
  &,
  .col {
    height: 52px;
    display: flex;
    align-items: center;
  }

  background: $c-beige;

  &:nth-of-type(odd) {
    background: $c-beige-dark;
  }
  &:last-of-type {
    border-bottom: 1px solid $c-navy;
  }
}

@include bp($bp-tablet) {
  .atb__col--0 {
    width: 40%;
  }
  .atb__col--1.atb__col--1.atb__col--1.atb__col--1 {
    width: 24%;
    display: block;
  }
  .atb__col--2,
  .atb__col--3,
  .atb__col--4 {
    width: 12%;
  }
}

.check {
  display: block;
  width: 100%;
  &,
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    height: 7px;
    width: 7px;
    background: $c-navy;
    transform: translate(-50%, -50%) rotate(-45deg);
    content: " ";
  }
}

.check-text {
  display: none;
}
