$da-items-base: $d-trio;

.items {
  padding-top: $da-items-base;
  padding-bottom: $da-items-base;
  border-top: 1px solid $c-navy;
}

.item {
  padding: $da-items-base/2;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 400px;
  color: white;
  text-align: center;

  > * {
    z-index: 2;
    position: relative;
  }

  h1,
  h2,
  h3 {
    color: inherit !important;
  }

  &.item--sidebar {
    padding: 0;
  }
}

.item--sidebar {
  margin-right: $da-items-base;
}

a.item:hover {
  .button {
    opacity: 0.8;
  }
  .heading--bordered {
    &:after,
    &:before {
      transform: scaleX(1);
    }
  }
}

.item__artwork {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: $b-radius 0 0 $b-radius;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;

  .item--beers & {
    width: 220px;
    flex-basis: 220px;
  }
}

.item__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: $da-items-base;
  flex-basis: 50%;
}

.item__heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.item__background {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: absolute;
  top: $da-items-base/2;
  left: $da-items-base/2;
  right: $da-items-base/2;
  bottom: $da-items-base/2;
  width: auto;
  height: auto;
  border-radius: $b-radius;

  .item--sidebar & {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.item__button {
  margin-left: 5px;
}

.heading--bordered {
  position: relative;

  &::before,
  &::after {
    transition: all 200ms ease-in-out;
    transform: scaleX(0.9);
    content: "";
    position: absolute;
    height: 3px;
    width: auto;
    background: currentColor;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:after {
    bottom: 0;
    top: auto;
    display: none;
  }
}
