/* Space ---------------------- */
.space-top {
  margin-top:15px !important;
}
.space-top-small {
  margin-top:10px !important;
}
.space-top-large {
  margin-top:30px !important;
}
.space-top-xlarge {
  margin-top:55px !important;
}
.space-inner-top {
  padding-top:15px !important;
}
.space-inner-top-small {
  padding-top:10px !important;
}
.space-inner-top-large {
  padding-top:30px !important;
}
.space-inner-top-xlarge {
  padding-top:55px !important;
}
.space-bottom {
  margin-bottom:15px !important;
}
.space-bottom-large {
  margin-bottom:35px !important;
}
.space-inner-bottom {
  padding-bottom:15px !important;
}
.space-inner-bottom-large {
  padding-bottom:35px !important;
}
.space-inner-bottom-xlarge {
  padding-bottom:55px !important;
}
.space-bottom-small {
  margin-bottom:15px !important;
}
.bg-maincolor {
  background:$mainColor;
  color:$white;
  h1, h2, h3, h4, h5, h6, p , a {
  color:$white;
  }
}
.bg-cream {background:$cream;}
.bg-navy {background:$navy;}
.bg-blue {
    background:$blue;
    h1, h2, h3, h4, h5, h6, p , a {
      color:$white;
    }
  }
.bg-red {
    background:$red;
    h1, h2, h3, h4, h5, h6, p , a {
      color:$white;
    }
  }
.bg-green {
    background:$green;
    h1, h2, h3, h4, h5, h6, p , a {
      color:$white;
    }
  }




.border-right {
  border-right: 1px solid $navy !important;
}
.border-left {
  border-left: 1px solid $navy !important;
}
.border-bottom {
  border-bottom: 1px solid $navy !important;
}
.border-top {
  border-top: 1px solid $navy !important;
}
.border-right-white {
  border-right: 1px solid $white !important;
}
.border-left-white {
  border-left: 1px solid $white !important;
}
.border-bottom-white {
  border-bottom: 1px solid $white !important;
}
.border-top-white {
  border-top: 1px solid $white !important;
}

.boxed span {
  @extend .border-right;
  @extend .border-top;
  @extend .border-bottom;
  @extend .border-left;

}


.text-small {
  @include font-size(12);
}

.bordered-main {
  border:1px solid $mainColor;
}


/** 
  * Mixin based classes
  *
  */ 

.rule-left { @include rule(left, false) }

.rule-right { @include rule(right, false) }

.rule-outside-right { @include rule(right, true) }

.rule-inside-right { @include rule(right, true, $navy, true) }


.rule-left-white { @include rule(left, false, $white) }

.rule-right-white { @include rule(right, false, $white) }

.rule-outside-right-white { @include rule(right, true, $white) }

.rule-inside-right-white { @include rule(right, true, $white, true) }


.double-bordered { @include double-bordered() }

.double-bordered-inside { @include double-bordered(false, true) }

.double-bordered-outside { @include double-bordered(true, false) }


span.corner-one {
  @include corner(top-left);
}
span.corner-two {
  @include corner(top-right);
}
span.corner-three {
  @include corner(bottom-right);

}
span.corner-four {
  @include corner(bottom-left);
}


.row.equal-heights {
  overflow:hidden !important;
  > .columns {
    margin-bottom:-200px !important;
    padding-bottom:200px !important;
  }
}

.insides {
  padding-left:30px;
  @media only screen and (max-width: $screenSmall) {
    padding-left:15px;
  }
}

/** 
  * Foundation Grid Hacks
  *
  */ 

.row.flushed-right {
  margin-right:-15px !important;
}
.row.flushed-left {
  margin-left:-15px !important;
}






