body {
  background:url(../images/bg.png);
}
.banner > .row {
  position:relative;
  height:3px;
  > .columns {
    height:3px;
    right:15px;
    left:15px;
    position:absolute;
    width:auto;
  }
}