.th.img-circle img {
	@include border-radius(500px);
	margin:10px;
	border:none;
	padding:0;
}

ul.side-nav {
	padding-top:0;
	li {
		margin-bottom:4px;
		
	}
}


ul.nav-share li a {
	position:relative;
	&:before {
		@include font-size(35);
	}
}

.callout {
	h1, p {
		color:white;
	}
	h1 {
		font-weight: bold;
		line-height: 1.3em;
	}
	&#main {
		padding: 50px 20px;
	}
}

dl.tabs.pill.link-list dd {
	display:inline-block;
	float:none; 
	a {
		padding:2px 20px;
		height:35px;
		line-height:30px;
		background:$mainColor;
		color:$white ;
		&:hover{
			background:$white;
			color:$mainColor ;
		}
	}
	&.active a {
		font-weight:normal;
		background:$white;
		color:$mainColor;
		
	} 
}


.panel {
	&.collapse {
		margin: 0px;
	}
	&.no-border {
		border:none;
		@include box-shadow(0px 0px 1px rgba($black, 0.1) inset);
	}
	&.white {
		background:$white;
		@include box-shadow(0px 0px 1px rgba($black, 0.3) inset);
	}
	&.light {
		p {color:$mainColor;}
		background:lighten($mainColor, 40%);
		border:none;
	}
	&.flush {
		padding:0
	}
	&.outline {
		border:2px solid $mainColor;
		width:100%;
		display:block;
		margin:0;
	}

}

.uniform {
	height: 330px;
	position:relative;
}



