.fixed {
	left:auto;

}
.magellan-wrap {
	margin:0 -15px ;
	.magellan {
		max-width: 666px;
		width: 666px;
		margin: -1px -21px;
		padding:10px 0 !important;
		left:auto;
		border:1px solid $mainColor;
		border-top:none;
		background:$white;

		li {
			a {
				padding:0px 15px;
				display:block;
			}
			&.active {
				a {
					font-weight:bold;
				}
			}
		}
		
	}
}
dl.tabs {
	margin-bottom:0;
}
ul.tabs-content.contained > li {
	padding-top:0;
}
dl.sub-nav {
	dt{
		padding-right:10px;
		@include font-size(11);
		text-transform:uppercase;
		font-weight:bold;
		line-height:25px;
		&:before {
			margin-right:5px;
		}
	}
}
.course-item {
	background:darken($white, 1%);
	h4 {
		position:relative;
		color:$mainColor;
		&:before {
			left:0;
			@include font-size(20);
			position:absolute;
			top:2px;
		}
	}
}

dl.tabs {
	border-color:$mainColor;
	 dd.active {
		border-top: 1px solid $mainColor;
		margin-top: 0px;
		&:first-child a {
			border-left:none;
		}
		a {
			color:$mainColor;
			border-color:$mainColor;
		}
	}
}
