h1 {
	@include font-size(18);
	letter-spacing:0.03em;
	&.title {
		margin-top:50px;
	}
}

h2 {
	@include font-size(16);
	letter-spacing:0.03em;
}

h3 {
	@include font-size(16);
	letter-spacing:0.03em;
}

h1, h2, h3, h4, h5, h6 {
	text-transform:uppercase;
	&.collapse {
		margin:0;
	}
	&.light {
		color:$white;
	}
}


