#search {
  margin:0 0 0px 0;
  width:100%;
  padding-left:160px;
  position:relative;
  background:$mainColor;
  form {
    margin:0;
  }
  .search-query {
    @include border-radius(0);
    line-height: 140px;
    height: 140px;
    width: 100%;
    background: transparent;
    border: none;
    font-size:120px;
    margin-bottom:0px;
    padding:0;
    color:$white;
    font-family:$bodyFontFamily;
    font-weight: 900;
    @include box-shadow(none);
    &:focus {
      @include box-shadow(none);
    }    
  }
  input::-webkit-input-placeholder {
  color:lighten($mainColor, 30%);
  }
  input:-moz-placeholder {
  color:lighten($mainColor, 30%);
  }
  input:-ms-input-placeholder {
  color:lighten($mainColor, 30%);
  }
  @extend .icon-magnifying-glass;

  &:before {
    position:absolute;
    left:0;
    top:10px;
    font-family: 'icomoon';
    font-size: 120px;
    color:lighten($mainColor, 5%);
  }
  @extend .rule;
}

.link-search-close:before {
  font-size:20px;
  position: absolute;
  z-index: 1000;
  display: block;
  color:$white;
  bottom:20px;
  right:20px;
}