$t-font-weight-normal: 400;
$t-font-weight-bold: 700;

$t-font-stack-serif: 'kulturista-web', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$t-font-stack-sans: 'proxima-nova', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$t-font-size-xs: 12px;
$t-font-size-sm: 14px;
$t-font-size-md: 16px;
$t-font-size-lg: 22px;
$t-font-size-xl: 32px;

$t-letter-spacing: 1px;
