$b-radius: 2px;
$b-lg: 4px solid $ca-border-color;
$b-md: 2px solid $ca-border-color;
$b-sm: 1px solid $ca-border-color;

$ba-nav-item-active: $b-lg;
$ba-banner-top: $b-md;
$ba-select: $b-sm;
$ba-quantity: $b-sm;
$ba-quantity-focus: $b-md;
$ba-cart-row: $b-sm;
$ba-button: $b-sm;
$ba-pagination: $b-sm;
$ba-rule: $b-sm;
$ba-alert: $b-sm;
$ba-input: $b-sm;
$ba-input-focus: $b-sm;
