$c-navy: #0c223f;
$c-beige: #fefcf8;
$c-white: #ffffff;
$c-eephus: #ef473d;
$c-red: $c-eephus;
$c-navy-light: #7590b3;
$c-beige-dark: #f7f5f1;

$ca-link-secondary-color: $c-navy;
$ca-link-secondary-hover-color: $c-eephus;
$ca-link-color: $c-navy;
$ca-text-color: $c-navy;
$ca-nav-item-active-color: $c-eephus;
$ca-skip-link-color: $c-white;
$ca-skip-link-background: $c-navy;
$ca-shadow: $c-navy;
$ca-errors-color: $c-eephus;
$ca-announcenment-background: $c-navy;
$ca-announcenment-color: $c-white;

$ca-border-color: $c-navy;
$ca-hr-background: $ca-border-color;

$ca-header-bar-color: $c-navy;

$ca-button-color: $c-beige;
$ca-button-background: $c-navy;
$ca-button-secondary-background: $c-beige;
$ca-button-secondary-color: $c-navy;
$ca-button-tertiary-color: $c-navy;

$ca-newsletter-background: $c-navy;
$ca-border: $c-navy;
