$t-font-weight-normal: 400;
$t-font-weight-bold: 700;

$t-font-stack-primary: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica,
  Arial, sans-serif;
$t-font-stack-secondary: "franklin-gothic-condensed", "Helvetica Neue",
  "Helvetica", Helvetica, Arial, sans-serif;
$t-font-stack-tertiary: "kulturista-web", "Helvetica Neue", "Helvetica",
  Helvetica, Arial, sans-serif;

$t-font-size-xs: 12px;
$t-font-size-sm: 14px;
$t-font-size-md: 16px;
$t-font-size-lg: 22px;
$t-font-size-xl: 32px;

$t-letter-spacing: 1px;
