.mvp {
    margin-right:-14px;
    a {
        text-align: center;
        display:block;
        padding:$base-size;
    }
}

.homehighlightreel {
    margin: 0 -14px 0 -1px !important;
    border-left: 1px solid $navy;
}
