.homebrewfinder {
    margin-right:-15px;
    padding-right:15px;
    background-size:cover;
    padding-top:120px;
}    
.mvp {
    margin-right:-14px;
    a {
        text-align: center;
        display:block;
        padding:$base-size;
    }
}

.sidebar-title {
    margin-right:-15px;
}

.callout-borders {
    &:before,
    &:after {
        height: 1px;
        background: $navy;
        content: ' ';
        position: absolute;
        right: 0px;
        left: 0;
        top: -3px;
        width: 100%;
    }
    &:before {
        top: 0px;
    }
}

.homehighlightreel {
    margin: 0 -14px 0 -1px !important;
    border-left: 1px solid $navy;
}

.wrigley {
    margin: 0 -14px 0 -1px !important;
    border-left: 1px solid $navy;
    
    img {
        width:40%;
        margin: auto;
        border:1px solid $navy;
        padding:1px;
        margin-top:$base-size/2;
    }
    @media only screen and (min-width: 768px) { 
        img {
            margin-top:-$base-size/3;
        }
    }
}


.sidebar__content {
    padding-bottom: 40px !important;
    
    p {
        color:white;
        padding-left: 20px;
        padding-right: 20px;
        max-width:450px;
        @media only screen and (min-width: 768px) { 
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

.beer-bottleshop {
    display: block;
    width: 100%;
    border-bottom: 1px solid $cream;

    .link--brew-finder {
        margin-right: 0;
    }

    @media only screen and (min-width: 768px) { 
        border-bottom: none;
    }
}