$color-bases : #0c223f;
$color-runner : #0c223f;
$color-field : #fefcf8;
$color-lines: #F7F5F1;
*,
*:before,
*:after {
 box-sizing:border-box; 
}
body {
  background:#fefcf8;
}
.base {
  border:2px solid white;
  position:absolute;
  height:12px;
  width:12px;
  background:$color-bases;
  z-index:1;
}

.base--first {
    right:0; 
    top:100%;
    transform:translate(0%, -100%);
}

.base--second {
   right:0; 
}

.base--third {
}

.base--home {
    bottom:0;
    height:14px;
    width:14px;
    transform:translate(-25%, 25%);
}
.loader{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left:50%;
  transform:translate(-50%, -50%) rotate(-45deg);
  border:2px solid;
  
    &:before {
    content: "";
    position: absolute;
    background-color: $color-runner;
    border:1px solid $color-field;
    height: 10px;
    width: 10px;
    border-radius: 8px;
    z-index:2;
    animation: runner 2s ease-in-out infinite;
    
  }
  
  &:after {
    z-index:0;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom:0;
    right:0;
    height: auto;
    width:auto;
    opacity: 1;
    background: linear-gradient(45deg, transparent 49%, $color-lines 50%, $color-lines 50%, transparent 51%, transparent),
                linear-gradient(-45deg, transparent 49%, $color-lines 50%, $color-lines 50%, transparent 51%, transparent);
    background-size: 10px 10px;
    background-position: 0% 0%;
    animation: field 1s ease-in-out infinite;
  }
}

@keyframes runner{
    0%{left: -4px; top: 32px; transform:scale(0.8)}
    25%{left: 32px; top: 32px;}
    50%{left:30px; top:-2px;transform:scale(1.5);}
    75%{left:-6px; top:-2px;}
    100%{left: -6px; top: 32px;transform:scale(0.8) }
}
@keyframes field {
    from { 
    background-position: 0px 0px; 
  }
    to { 
    background-position: 10px -10px; 
  }
}
