$map-height: 600px;
$marker-size: 30px;

.brew-finder {
    height:100%;
    position:relative;
}

.brew-finder__marker {
    position: absolute;
    height: $marker-size;
    line-height: $marker-size;
    top: -$marker-size / 2;
    transform:translate(-50%, -100%);
    background: $cream;
    padding:5px;
    border:1px solid $navy;
    width: $marker-size;
    transition: all $transition-timing $transition-easing;
    color:$navy;

    &:after {
        position:absolute;
        top:100%;
        left:50%;
        transform:translate(-50%, -0%);
        content:' ';
        border:10px solid transparent;
        border-top:10px solid $navy;
    }

    &:before {
        position:absolute;
        top:0%;
        left:50%;
        height:$marker-size;
        width:$marker-size;
        line-height: $marker-size;
        display:block;
        text-align:center;
        transform:translate(-50%, -0%);
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;   
        content: ' ';
        transition:transform $transition-timing $transition-easing;
    }

    &.lcbo:before {
        content: "\e600";
        font-size:8px;
    }
    
    &.bar:before {
        content: "\e013";
        font-size:14px;
    }

    &.restaurant:before {
        font-size:16px;
        content: "\e008";
    }

    &.brew-pub:before {
        font-size:15px;
        content: "\e012";
    }
}

.overlay {
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -30%);
    transition:all $transition-timing/2 $transition-easing;
    width: 200px;
    text-align:center;
    line-height:$marker-size/2;
    padding:10px;
    .marker--is-active & {
        opacity:1;
        transition-delay:$transition-timing;
    }
}
.overlay__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.overlay__address {
    display:block;
    font-size:11px;
}
.marker--is-active {
    cursor:pointer;
    width:200px;
    height:$marker-size * 3;
    transition: all $transition-timing $transition-easing;
    z-index:100;
    &:before {
        transform:translate(-50%, 0%);
    }
}

.marker--is-inactive {
}

.brew-finder__container,
.brew-finder__map,
.brew-finder__height {
    height:$map-height;
}

.brew-finder__map {
    z-index:10;
    top:1px;
    border-right:1px solid $navy;
    border-left:1px solid $navy;
    border-bottom:1px solid $navy;
}

.brew-finder__list {
    .scrollshadow {
        max-height:500px;
    }

    .screen {
        margin-right:-2px;
    }
}


