//Components
.atthebrewery {
    border-bottom:1px solid $navy;
    @media only screen and (min-width: 768px) { 
        border-bottom:none;
    }
}
.atthebrewery__row {
    &, .columns {
        height:52px;
    }

    background:$cream;

    &:nth-of-type(odd) {
        background:$cream-dark;
    }
}

.check {
    display: block;
    width:100%;
    &, &:before {
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }

    &:before {
        height:7px;
        width:7px;
        background:$navy;
        transform: translate(-50%, -50%) rotate(-45deg);
        content: ' ';
    }
}

.check-text {
    display:none;
}

.atb__col--large {
    width: 55% !important;
    float:left !important;
    overflow:hidden;
    position: relative;
}
.atb__col--medium {
    width: 24% !important;
    float:left !important;
}
.atb__col--small {
    width: 15% !important;
    float:left !important;
}

@media only screen and (min-width: 768px) { 
    .atb__col--large {
        width: 40% !important;
    }
    .atb__col--medium {
        width: 24% !important;
    }
    .atb__col--small {
        width: 12% !important;
    }
}
