.single-beers .flip-container {
    height: 654px;
}

.post-text .gform_body .gform_fields textarea {
    min-height:0;
    @media only screen and (min-width: 768px) { 
        min-height:310px;
    }
}

.post-12 .post-text  {
    min-height:0;
    @media only screen and (min-width: 768px) { 
        min-height:610px;
    }
}
.list-contact li a h4 {
    transition:background $transition-timing $transition-easing;
}
.visit-us-section {
    position:relative;
    left:-1px;
    top:-1px;
    &:after {
        top:0;
        width:auto;
        position:absolute;
        left:0px;
        right:-16px;;
        content:'';
        height:4px;
        background:$cream;
        border:1px solid $navy;
    }
}
.visit-us__label {
    position:relative;
    border-top:1px solid $cream;
    top:-1px;
}


.visit-us {
    position:relative;
    margin-top:1px !important;
    p {
        padding-left:20px !important;
    }
    &:before {
        height:100%;
        position:absolute;
        top:0;
        left:0;
        width:1px;
        background:$navy;
        content: ' ';
        bottom:0;
    }

    &:after {
        width:auto;
        position:absolute;
        left:0;
        right:-15px;
        content:'';
        height:1px;
        bottom:-0px;
        background:$navy;
    }
}

.row {
    width:1200px;
}
.footer ul#social>li a {
    border:none;
}

ul#social>li a:before {
    margin-left:35%;
}

.vendor-listing  {
    margin-bottom:-1px;
}
.vendor-listing:after {
        display:none;
    }
.top-bar {
    z-index:100;
}

h1 {
    padding-bottom:40px;
}

.footer .gform_wrapper form {
        max-width: 500px;
    }
.tweet img {
    width: 12px;
    padding-left: 1px;
}

.mvp {
    .beer-tagline {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .beer-name.beer-block {
        margin:0 0 5px 0;
        padding:0;
    }

    .beer-tagline:after,
    .beer-name:before {
        display:none;
    }
}
