//Nav Changes

@media only screen and (max-width: $topBarBreakPoint) {
  .top-bar {
    ul li.name {
      background:$navy;
    }
    ul#global { 
      width: 100%;
      li, li.has-dropdown .dropdown {
        width:100%;
        h5 a {
          background:none;
          color:$cream;
          text-align:left;
        }
      }
    }
    ul#social {
      width:100%;
    }
  }  
  h2.header-text {
    margin:10px 0;
  }
}

//Small Screen Changes
@media only screen and (max-width: $screenSmall) {
  body {
    overflow-x:hidden;
    width:auto;
   
  }
  .row.flushed-right {
    margin-right:0 !important;
  }
  .row.flushed-left {
    margin-left:0 !important;
  }
  .post-text, .mobile-flush {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  #container-navigation .row .twelve {
    margin:0;
    padding:0;
  }
}
