/* CSS for jQuery Reveal Plugin
 * Maintained for Foundation. foundation.zurb.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Reveal Modals ---------------------- */

  .reveal-modal-bg { 
    background:transparent;

  }

  .reveal-modal { 
    &.transparent {
      @include box-shadow(0 0 0);
      text-align:center;
      border:none;
      background:transparent; 
    }     
  }
