ul#social {
  width:32.8%;
  &>li { 
    width:20%;
    float:left;
    text-align:center;
    position:relative;
    overflow:hidden;
    &:hover {
      background:$navy;
    }
    a {
      border-right:1px solid;
      position:relative;
      &:before {
        padding:0 120px 0 0 !important;
        color: white;
        margin: 0;
        padding: 0;
        @include font-size(20);
        position:relative;
        top:4px;
        margin-left:8px;
      }
      &:hover:before {
        color:$red;
      }
    }
  }
  li.icon-facebook {
    &:before {
      display:none;
    }
    > a {
      @extend .icon-facebook;
    }
  }
  li.icon-googleplus {
    &:before {
      display:none;
    }
    > a {
      @extend .icon-googleplus;
    }
  }
  li.icon-twitter {
    &:before {
      display:none;
    }
    > a {
      @extend .icon-twitter;
    }
  }
  li.icon-untappd {
    &:before {
      display:none;
    }
    > a {
      @extend .icon-untappd;
    }
  }
  li.icon-instagram {
    &:before {
      display:none;
    }
    > a {
      @extend .icon-instagram;
    }
  }
  li.icon-mail {
    &:before {
      display:none;
    }
    > a {
      @extend .icon-mail;
      &:before {
         @include font-size(17);
         top:2px;
      }
    }
  }

}
.footer ul#social {
  width:100%;
  padding-bottom:20px;
  display: inline;
  height: 38px;
  line-height: 38px;
  list-style: none;
  @include clearfix();
  &>li { 
    height: 38px;
    margin-bottom:10px;
    a {
      border-right:none;
    }
  }
}

