h1, h2, h3, h4, h5, h6, p, span, a {
	&.collapse {
		margin:0 !important;
	}
	&.collapse-inner {
		padding:0;
	}
	&.light, &.light a {
		color:$white;
	}
	&.text-small {
		@include font-size(11);
	}

}

p {
	&.lead {
		font-weight:500;
		line-height:1.4;
	}
}

h1 {
	@include font-size(30);
	letter-spacing:0.07em;
	text-transform:uppercase;
	margin:0;
	padding:40px 0 10px 0;
	&.post-title {
		padding-top:20px;
	}
}

h2 {
	@include font-size(24);
	letter-spacing:0.05em;
	text-transform:uppercase;
	&.beer-name {
		font-family:$beerFontFamily;
		font-weight:normal;
		@include font-size(35);
		&.beer-block {
			position:relative;
			padding-top:20px;
			margin-top:20px;
			margin-bottom:0;
			&:before {
				height:4px;
				width:4px;
				border:1px solid;
				position:absolute;
				left:50%;
				top:0px;
				content: ' ';
				margin-left:-2px;
				@include transform(rotate(-45deg));
			}
		}
	}
}

h3 {
	@include font-size(12);
	letter-spacing:0.03em;
	margin:0;
	padding:15px 0;
	text-transform:uppercase;
	&.bg-navy {
		font-family:$bodyFontFamily;
	}
	&.beer-tagline {
		font-family:$bodyFontFamily;
		@include font-size(14);
		position:relative;
		padding-top:5px;
		margin-bottom:10px;
		&:after {
			content:' ';
			position:absolute;
			width:10px;
			height:1px;
			background:$white;
			left:50%;
			bottom:0;
			margin-left:-5px;
		}
	}
}

h4 {
	@include font-size(10);
	text-transform:uppercase;
	margin: 0 0 0;
	padding:10px;
	letter-spacing:0.03em;
}
h5 {
	@include font-size(12);
	font-family:$bodyFontFamily;
	text-transform:none;
	margin:10px 0 0 0;
	line-height: 1.6;

}

h6 {
	line-height:1.6;
	@include font-size(12);
	font-family:$bodyFontFamily;
	text-transform:none;
	margin:0 0 15px;
	padding-top:5px;
	font-weight:normal;
}



.icon-with-space {
	position:relative;
	padding-left:20px;
	&:before {
		@include font-size(14);
		position:absolute;
		left:0;
		top:2px;
	}
}


.inner-text {
	padding:0 20px;
}

.format-text {
	h1, h2, h3, h4, h5, h6, p {
		padding:0 20px;
	}
}

.post-text {
	padding-bottom:0px;
	background:$cream;
	h1, h2, p, ul {
		padding-left:40px;
		padding-right:40px;
	}
	h2 {
		@include double-bordered();
		padding:30px 40px 10px;
		margin-top:40px;
		font-family:$bodyFontFamily;
		@include font-size(16);
		&:first-of-type {
			margin-top:0;
		}
	}

	h4 {
		margin:30px 40px 10px;
		@include font-size(14);
		&.boxed {
			padding:0;
			overflow:hidden;
			@include font-size(12);
			span {
				padding:10px;
				display:block;
				float:left;
			}
		}
	}
	h5 {
		font-family:$bodyFontFamily;
		@include font-size(18);
		padding-bottom:15px;
		text-transform:uppercase;
		line-height: 1.6;
		padding-left:40px;
		padding-right:40px;
	}
	h6 {
		@include font-size(16);
		font-weight:normal;
		padding-left:40px;
		padding-right:40px;
	}
	p {
		@include font-size(14);
	}
	ul.link-list {
		margin-left:-5px;
		li {
			margin-left:5px;
			a {
				border-bottom:none;
			}
			&.sep {
				font-size: 10px;
				padding: 3px;
			}
		}
	}
	ul li {
		@include font-size(14);
		a {
			border-bottom:1px solid;
		}
		ul {
			padding-left:0;
		}
	}

	.wp-caption  {
		padding:20px 40px;
		margin:auto;

		img {
			padding: 2px;
			border: 1px solid;
			border-bottom: none;
		}
		p {
			border:1px solid;
			border-top:none;
			text-align:center;
			@include font-size(11);
			padding:5px 20px;
			margin-top:-2px;
		}
	}
	.wp-caption.aligncenter {
		margin: 0 auto!important;
	}
	.wp-caption.alignleft {
		float:left;
	}

	.wp-caption.alignright {
		float:right;
	}
	.wp-caption + p, .wp-caption + .wp-caption {
		clear:both;
		}


	p img.alignnone  {
	  padding: 2px;
	  border: 1px solid;
	}
}
