h1, h2, h3, h4, h5, h6, p, span, a {
	&.collapse {
		margin:0;
	}
	&.light {
		color:$white;
	}
	&.text-small {
		@include font-size(11);
	}
}

p {
	&.lead {
		font-weight:500;
		line-height:1.4;
	}
}

h1 {
	@include font-size(18);
	letter-spacing:0.03em;
	&.title {
		margin-top:50px;
	}
}

h2 {
	@include font-size(24);
	letter-spacing:0.05em;
	text-transform:uppercase;
}

h3 {
	@include font-size(12);
	letter-spacing:0.03em;
	margin:0;
	padding:10px 0;
	text-transform:uppercase;
	
}
h4 {
	@include font-size(12);
	text-transform:none;
	margin: 0 0 0;
	padding:10px;
}
h5 {
	@include font-size(12);
	font-family:$bodyFontFamily;
	text-transform:none;
	margin:15px 0 0 0;
}

h6 {
	line-height:1.6;
	@include font-size(12);
	font-family:$bodyFontFamily;
	text-transform:none;
	margin:0 0 15px;
	padding-top:5px;
	font-weight:normal;
}


.icon-with-space {
	position:relative;
	padding-left:20px;
	&:before {
		@include font-size(14);
		position:absolute;
		left:0;
		top:2px;
	}
}


.inner-text {
	padding:0 20px;
}

.format-text {
	h1, h2, h3, h4, h5, h6, p {
		padding:0 20px;
	}
}

.post-text {

	padding-bottom:20px;
	@extend .border-bottom;
	background:$cream;
	h2 {
		@include double-bordered();
		padding:30px 40px 10px;
		margin-top:40px;
		font-family:$bodyFontFamily;
		@include font-size(16);
		&:first-of-type {
			margin-top:0;
		}
	}
	p {
		@include font-size(16);
		padding:0 40px;
	}
}
