.instagram_gallery {
  overflow: hidden;
  padding: 35px;
  background: $c-beige;
  border: 1px solid $c-navy;
  border-top: none;
}

.instagram_gallery > a {
  // .instagram {
  width: 25%;
  display: block;
  float: left;
  border: 5px solid $c-beige;
  position: relative;
  height: 100px;
  transition: all 200ms;
  box-sizing: border-box;

  > img {
    object-fit: cover;
    height: 100px;
    width: 100%;
  }

  &:nth-child(1),
  &:nth-child(1) img {
    height: 300px;
  }

  &:nth-child(1) {
    width: 75%;
  }

  &:hover {
    opacity: 0.8;
  }

  @media only screen and (min-width: 768px) {
    &,
    > img {
      height: 200px;
    }
    &:nth-child(1),
    &:nth-child(1) > img {
      height: 600px;
    }
  }
}
