a {
  transition: color $transition-timing $transition-easing;
}

.link--bordered {
  position: relative;
  &:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px solid $c-beige;
    transition: all $transition-timing $transition-easing;
  }
  &:hover:after {
    border: 8px solid $c-beige;
  }
}

.link--callout-module {
  text-align: center;
  padding: $d-trio;
  background: inherit;
}

.link--brew-finder {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4;
  border: none;
  display: block;
  margin-right: -14px;
  background: $c-navy !important;
  padding: $d-trio;
  &,
  i {
    color: $c-beige !important;
  }
  i.icon-tap {
    left: $d-trio;
    top: $d-trio/2;
    font-size: 6rem;
    position: absolute;
  }
}
