a {
  transition: color $transition-timing $transition-easing;
}

.link--bordered {
  position: relative;
  &:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px solid $cream;
    transition: all $transition-timing $transition-easing;
  }
  &:hover:after {
    border: 8px solid $cream;
  }
}

.link--callout-module {
  text-align: center;
  padding: $d-trio;
  background: inherit;
}
