.logo {
  display: block;
  text-align: center;
  padding: $d-trio 0;

  > .icon {
    margin: auto;
    width: $d-logo-width;
    height: $d-logo-width;
  }
}
.logo--wordmark__image {
  margin-top: -20px !important;
  vertical-align: middle;
  width: 150px;
}
