.vendor-listing {
	@include double-bordered(true, false, false, false);
	background:$cream;
	margin-right:-15px;
	padding-right:15px;
	.lead {
		position:relative;
		padding:20px 0 20px 80px;
		margin:0 ;
		@include rule(left);
		@include rule(right, true);
		color:$navy;
		
	}
	.icon-tap {
		@include font-size(60);
		position:absolute;
		left:15px;
		top:5px;
		color:$navy;
	}
	ul {
		margin:0;
		padding:0;
		list-style:none;
		li {

			a.block-level {
			  display:block;
			  overflow:hidden;
			  height:55px;
			}
			@include double-bordered(true, false);
			.icon-wrap {
				@include rule(right);			
			}
			.icon {
				@include font-size(20);
				color:$navy;
				padding:10px 0px;
				margin:auto;
				display:block;
			}
			&.bar .icon { @extend .icon-bar;}
			&.brew-pub .icon { @extend .icon-brewpub;}
			&.restaurant .icon { @extend .icon-restaurant;}
			&.bar-restaurant .icon { @extend .icon-bar-restaurant;}
			.rule-right {
				position:static;
				&:after {
					right:-15px;
				}
			}
			.map-wrap {
				height:52px;
				opacity:0;
				@include transition(0.3s opacity ease);
				background:url(../images/stripe.png);
				position:relative;
				left:-2px;
				h4 {
					padding:20px 0;
				}
			}
			&:hover .map-wrap {
				opacity:1;
			}
		}
	}
}	